@font-face {
    font-family: MuseoModerno;
    src: url("MuseoModerno-VariableFont_wght.ttf");
}
* {
    box-sizing: border-box;
}
@media screen and (max-width: 1000px) {
    .AdminProfileDiv {
        width: 100% !important;
    }
    .BioLabel{
        width: 100% !important;
    }
}

@media screen and (max-width: 500px){
    #logo-text{
        display: none;
    }
}
.BioLabel{
    width: 400px;
    height: 100px;
    background: white;
    font-size: 32px;
    font-family: MuseoModerno, serif;
    border: #1cb398 5px solid;
    margin: auto;
}

#BasicBackground{
    background: #191414;
}

.icons {
    padding-top: 5%;
    width: 267px;
    height: 100px;
    margin: auto;
}
.iconsMarko {
    padding-top: 5%;
    width: 130px;
    height: 100px;
    margin: auto;
}
.icon{
    width: 60px;
    height: 60px;
    padding: 2%;
}
.facebooklogo{
    width: 70px;
    height: 70px;
    padding: 2%;
}
.AdminProfileDiv{
    padding-top: 5%;
    width: 33.33%;
    height: 800px;
    background: #191414;
    float: left;
}
#ProfilesRow:after{
    content: "";
    display: table;
    clear: both;
}
.UsernameTextHeader{
    padding-top: 3%;
    font-family: MuseoModerno, serif;
    font-style: normal;
    color: #1cb398;
    font-weight: 500;
    font-size: 48px;
    text-align: center;

}

.RoundedImage{
    border-radius: 50%;
    outline: solid rgba(28, 179, 152, 0.25) 2px;
    width: 270px;
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
}
.RoundedImage:hover{
    animation: aboutIconBorderAnimation ease-out forwards;
    animation-duration: 6s;
    z-index: 1;
}

@keyframes aboutIconBorderAnimation {
    from{
        outline-offset: 1px;
        outline-width: 1px;
    }
    to{
        outline-offset: 2000px;
        outline-width: 720px;
    }

}

#headers{

    width: 100%;
    position: relative;
    padding-top: 3%;
    font-family: MuseoModerno, serif;
    font-style: normal;
    color: #1cb398;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */

    text-align: center;
    text-transform: capitalize;
}

#logo{
    font-family: MuseoModerno, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
}

#logo-text{
    top: -7px!important;
    position: relative!important;
}

#navbar{
    background: #191414 !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;

}
#welcomePageBackground{
    overflow: auto;
    background: url("logospotifychill-01.svg") no-repeat center center fixed;
    background-size: cover;

    background-color: #191414;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    pointer-events: none;
}

#login{
    pointer-events: auto;

    position: fixed;
    top: 55%;
    left: 50%;
    font-family: MuseoModerno, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: white;

    transform: translate(-50%, -50%);

}


#welcomePageBackground:hover{
    /*transition: all 5s ease-in-out;*/
    /*background-size: 80%;*/
    animation: welcomeLogo  2s linear infinite alternate;
}

@keyframes welcomeLogo {
    from{
        background-size: 100%;
    }
    to{
        background-size: 120%;
    }
}
#login-img{
    width: 200px;
}
#login-with-text {
    display: block !important;
}

/*#logo-text{*/
/*    //top: -7px!important;*/
/*    position: relative!important;*/
/*}*/
#LogOutText{
    position: fixed;
    left:92%;
    top:2%;
    height: 100%;
    color: white;
    font-family: MuseoModerno;
    font-size: 27px;
}
.MainPage{
    margin:auto;
    width: 100%;
}

#UsernamePicture{
    border-radius: 50%;
    outline: solid rgba(28, 179, 152, 0.25) 2px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
    background-color: white;
}
#UsernameText{
    font-family: MuseoModerno;
    font-size: 33px;
    text-align: center;
    color: white;
}
#FollowersText{
    font-family: MuseoModerno;
    font-size: 20px;
    text-align: center;
    color: white;
}
.icons {
    width: 125px;
    height: 90px;
    margin: auto;
}
.icon{
    width: 50px;
    height: 50px;
    padding: 2%;
}
.facebooklogo{
    width: 60px;
    height: 60px;
    padding: 2%;
}