@font-face {
    font-family: MuseoModerno;
    src: url("MuseoModerno-VariableFont_wght.ttf");
}

#BasicBackground{
    background: #191414;
}

#headers{
    position: absolute;
    width: 289px;
    height: 64px;
    left: 720px;
    top: 142px;

    font-family: MuseoModerno, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */

    text-align: center;
    text-transform: capitalize;
}

#logo{
    font-family: MuseoModerno, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 100%;
}

#logo-text{
    top: -7px!important;
    position: relative!important;
}

#navbar{
    background: #191414 !important;
    border-bottom-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;

}
#welcomePageBackground{
    overflow: auto;
    background: url("logospotifychill-01.svg") no-repeat center center fixed;
    background-size: cover;

    background-color: #191414;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    pointer-events: none;
}

#login{
    pointer-events: auto;

    position: fixed;
    top: 55%;
    left: 50%;
    font-family: MuseoModerno, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: white;

    transform: translate(-50%, -50%);

}


#welcomePageBackground:hover{
    /*transition: all 5s ease-in-out;*/
    /*background-size: 80%;*/
    animation: welcomeLogo  2s linear infinite alternate;
}

@keyframes welcomeLogo {
    from{
        background-size: 100%;
    }
    to{
        background-size: 120%;
    }
}




#login-img{
    width: 200px;
}
#login-with-text{
    display: block !important;
}

/*#logo-text{*/
/*    //top: -7px!important;*/
/*    position: relative!important;*/
/*}*/