<!DOCTYPE html>
<html lang="en">
<header xmlns:th="http://www.thymeleaf.org">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <nav id="navbar" class="navbar navbar-dark" style="background: #191414" >
    <div class="container-fluid" >
      <a id="logo" class="navbar-brand mx-auto"  href="/">
        <img th:src="@{/logo-navbar.svg}" alt="" class="d-inline-block align-text-top">
        <span class="navbar-brand mx-auto" style="font-size: 48px">Spotify & Chill</span>
      </a>
      <th:block th:if="${session.user!=null}">
        <a id="logout" class="navbar nav ms-auto text-center pt-0 pb-0 text-light fs-3" style="font-family: MuseoModerno" th:href="@{logout}">Logout</a>
      </th:block>
    </div>
  </nav>
</header>
