<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<header th:replace="fragments/navbar.html"/>
<body id="BasicBackground">
<header>
    <p class="h1 text-center p-5" style="color: #1CB398; font-family: MuseoModerno">About Us</p>
    <p class="h2 text-center p-5" style="color:darkred; font-family: MuseoModerno">Development</p>
</header>

<div class="container pt-5 navDivs pb-5">
    <div class="column mx-auto">
        <div class="row mx-auto" id="artists">
            <ul class="mx-auto"  style="list-style: none">
                <li><img th:src="@{/Mimz1.jpeg}" class="RoundedImage"></li>
                <li><p class="h3 mx-auto text-center" style="font-family: MuseoModerno; color: #1CB398;">Mimoza</p></li>
                <li><nav class="nav justify-content-center" >
                    <a class="nav-link">
                        <i class="bi bi-facebook" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-spotify" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-instagram" style="color: #1cb398"></i>
                    </a>
                </nav>
                </li>
            </ul>
            <ul class="mx-auto"  style="list-style: none">
                <img th:src="@{/Marko1.png}" class="RoundedImage">
                <p class="h3 mx-auto text-center" style="font-family: MuseoModerno; color: #1CB398;">Marko</p>
                <nav class="nav justify-content-center" >
                    <a class="nav-link">
                        <i class="bi bi-spotify" style="color: #1cb398"></i>
                    </a>
                </nav>

            </ul>
            <ul class="mx-auto" style="list-style: none">
                <img th:src="@{/Jovana1.png}" class="RoundedImage">
                <p class="h3 mx-auto text-center" style="font-family: MuseoModerno; color: #1CB398">Jovana</p>
                <nav class="nav justify-content-center" >
                    <a class="nav-link">
                        <i class="bi bi-facebook" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-spotify" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-instagram" style="color: #1cb398"></i>
                    </a>
                </nav>
            </ul>
        </div>
    </div>
</div>

<section class="mt-3 text-center pb-5">
    <div class="row">
        <div class="col mx-auto text-center">
            <div class="container text-center mx-auto">
                <p class="h2 my-3" style="font-family: MuseoModerno; color: darkred">Design</p>
                <img th:src="@{/Deki.jpeg}" class="RoundedImage">
                <p class="h3 mx-auto text-center" style="font-family: MuseoModerno; color: #1CB398">Dejan</p>
                <nav class="nav justify-content-center" >
                    <a class="nav-link">
                        <i class="bi bi-facebook" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-spotify" style="color: #1cb398"></i>
                    </a>
                    <a class="nav-link">
                        <i class="bi bi-instagram" style="color: #1cb398"></i>
                    </a>
                </nav>
            </div>
        </div>

    </div>
</section>
<footer th:replace="fragments/footer.html"/>
</body>
</html>
