<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<header th:replace="fragments/navbar.html"/>
<body>
<form method="post" th:action="@{/addSongs}">
  <div id="searchedSongs">
    <div>
      <iframe style="border-radius:12px" th:src="https://open.spotify.com/embed/track/${selectedSongs.name}?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <input type="button" id="addSong">
    </div>
  </div>
  <div id="selectedSongs">
    <div>
      <iframe style="border-radius:12px" th:src="https://open.spotify.com/embed/track/${selectedSongs.name}?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <input type="button" id="removeSong">
    </div>
  </div>
  <input type="button" id="">
</form>
<footer th:replace="fragments/footer.html"/>
</body>
</html>