<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<header th:replace="fragments/navbar.html"/>
<body id="BasicBackground">
<div class="container justify-content-center mx-auto" style="background-color: gray" >
    <label for="searchSongField" style="font-family: MuseoModerno">Seach song</label>
    <input type="text" id="searchSongField">
    <button id="searchSong" onclick="searchSong()">Click me</button>
    <p hidden th:text="${session.token}" id="token"></p>
    <p hidden th:text="(${session.playlist} != null ? ${session.playlist.id} : '')" id="playlistId"></p>
    <div id="searchedSongs">

    </div>
    <form method="post">
        <div class="form-group">
            <label for="playlistName" style="font-family: MuseoModerno">Playlist name:</label>
            <input type="text" class="form-control" id="playlistName" required >
        </div>
        <div class="form-group">
            <label for="playlistDescription" style="font-family: MuseoModerno">Description: </label>
            <input type="text" class="form-control" id="playlistDescription">
        </div>

        <div id="selectedSongs">
        </div>

    </form>
    <div class="container text-center">
        <button class="btn btn-dark justify-content-center" onclick="submitPlaylist()" style="font-family: MuseoModerno">Create Playlist</button>
    </div>

</div>

<script>
    window.onload = function() {
        var playlistId = document.getElementById("playlistId").innerText;
        if (playlistId!== null && playlistId !== undefined && playlistId.length!==0){
            fetchPlaylist(playlistId);
        }
    };

    async function fetchPlaylist(playlistId) {
        let token = document.getElementById("token").innerText;

        var response = await fetch(`https://api.spotify.com/v1/playlists/${playlistId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': token
            }
        })

        var responseBody = await response.json();
        var playlistName = document.getElementById("playlistName");
        playlistName.setAttribute("value", responseBody.name);

        var playlistDescription = document.getElementById("playlistDescription");
        playlistDescription.setAttribute("value", responseBody.description);


        var songBox = document.getElementById("selectedSongs");
        for(i=0; responseBody.tracks.items.length; i++){
            var songId = responseBody.tracks.items[i].track.id;

            songBox.innerHTML += `<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/${songId}?utm_source=generator" width="150px" height="50px" frameBorder="0" allowfullscreen="" allowallowFullScreenpboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>  <input type="button" value="Remove Song" id="${songId}" onclick="removeSong(this.id)"></div>`;
        }
        //TRACKS tracks.items[i].track.id
        //response.description
        //response.name
    }

    async function searchSong() {
        console.log("in search song");
        let searchString = document.getElementById("searchSongField").value;
        if(searchString.length === 0){
            return;
        }
        let token = document.getElementById("token").innerText;
        console.log(searchString);
        console.log(token);
        var response = await fetch(`https://api.spotify.com/v1/search?q=${searchString}&type=track&limit=4`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'Authorization': token
            },
        })
        var responseBody = await response.json();
        var songs = responseBody["tracks"]["items"];
        var songsBox = document.getElementById("searchedSongs");
        songsBox.innerHTML = "";
        for (i=0; i<songs.length; i++){
            var songId = songs[i].id;
            songsBox.innerHTML += `<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/${songId}?utm_source=generator" width="150px" height="50px" frameBorder="0" allowfullscreen="" allowallowFullScreenpboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe><input type="button" value="Add Song" id="${songId}" onclick="addSong(this.id)"></div>`;
        }
        console.log(responseBody);
    }

    function addSong(songId) {
        var element = document.getElementById(songId);
        element.parentNode.parentNode.removeChild(element.parentNode);
        var songBox  = document.getElementById("selectedSongs");
        songBox.innerHTML += `<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/${songId}?utm_source=generator" width="150px" height="50px" frameBorder="0" allowfullscreen="" allowallowFullScreenpboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>  <input type="button" value="Remove Song" id="${songId}" onclick="removeSong(this.id)"></div>`;
    }

    function removeSong(songId) {
        var element = document.getElementById(songId);
        element.parentNode.parentNode.removeChild(element.parentNode);
    }

    function submitPlaylist() {
        console.log("in here");
        var requestBody = {};
        requestBody["name"] = document.getElementById("playlistName").value;
        requestBody["description"] = document.getElementById("playlistDescription").value;

        requestBody["songIds"] = [];
        var songs = document.getElementById("selectedSongs").children;
        console.log(songs);
        for (i =0 ; i<songs.length; i++){
            console.log(songs);
            console.log(songs[i])
            console.log(songs[i].children[1]);
            console.log(songs[i].children[1].id);

            var song = songs[i].children[1].id;
            requestBody["songIds"].push(song);
        }

        var playlistId = document.getElementById("playlistId").innerText;
        if (playlistId!== null && playlistId !== undefined && playlistId.length!==0){
            fetch(`/editPlaylist/${playlistId}`, {
                method: 'POST',
                body: JSON.stringify(requestBody),
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
            }).then(res => {
                if (res.redirected) {
                    window.location.href = res.url;
                }
            })
        }else {
            fetch(`/createPlaylist`, {
                method: 'POST',
                body: JSON.stringify(requestBody),
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
            }).then(res => {
                location.replace("/profile");
            })
        }
    }
</script>
<footer th:replace="fragments/footer.html"/>
</body>
</html>