<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<header th:replace="fragments/navbar.html"/>
<body id="BasicBackground">
<p hidden th:text="${session.token}" id="token"></p>
<header class="text-center mx-auto">
    <img th:src="${session.user.imageUrl}" class="RoundedImage" id="profilePicture">
    <p th:text="${session.user.displayName}" id="profileName" class="UsernameTextHeader"></p>
    <div class="mx-auto justify-content-center">

        <iframe style="border-radius:12px" th:src="'https://open.spotify.com/embed/track/' + ${session.user.topSong.id} + '?utm_source=generator'" width="25%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    </div>

</header>
<nav class="nav nav-pills mx-auto bg-black justify-content-center">

    <a class="nav-link ps-5 pe-5 fs-3 text-light navigacija" style="font-family: MuseoModerno" value="Artists" href="#" onclick="checkSelected('Artists')">Artists</a>
    <a class="nav-link ps-5 pe-5 fs-3 text-light navigacija" style="font-family: MuseoModerno" value="Albums" href="#" onclick="checkSelected('Albums')">Albums</a>
    <a class="nav-link ps-5 pe-5 fs-3 text-light navigacija" style="font-family: MuseoModerno" value="Playlists" href="#" onclick="checkSelected('Playlists')">Playlist</a>

</nav>
<div class="container pt-5 navDivs" id="artistsContainer">
    <div class="column mx-auto">
        <div class="row mx-auto" id="artists">
            <ul th:each="artist : ${session.user.artists}" style="list-style: none" class="mx-auto">
                <li class="mx-auto"><img th:src="${artist.imageUrl}" class="RoundedImage"></li>
                <li style="font-family: MuseoModerno" class="mx-auto text-light text-center pt-3"><p th:text="${artist.name}"></p></li>
            </ul>
        </div>
    </div>
</div>
<div style="display: none" class="container navDivs" id="albumsContainer">
    <div class="column mx-auto">
        <div class="row mx-auto" id="albums">
            <ul th:each="album : ${session.user.albums}" style="list-style: none" class="mx-auto">
                <li class="mx-auto"><img th:src="${album.imageUrl}" class="RoundedImage"></li>
                <li style="font-family: MuseoModerno" class="mx-auto text-light text-center pt-3"><p th:text="${album.name}"></p></li>
                <li style="font-family: MuseoModerno" class="mx-auto text-light text-center pt-3"><p th:text="${album.aristName}"></p></li>
            </ul>
        </div>
    </div>

</div>
<div style="display: none" class="container navDivs" id="playlistContainer">
    <div class="container text-center">
        <a class="btn btn-dark justify-content-center" type="button" href="/createPlaylist" style="font-family: MuseoModerno">Create Playlist</a>

    </div>
    <div class="container text-center mt-5">
        <ul th:each = "playlist : ${session.user.playlists}" class="mx-auto">
            <li class="mx-auto">
                <iframe style="border-radius:12px" th:src="'https://open.spotify.com/embed/playlist/' + ${playlist.id} +'?utm_source=generator'" width="25%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <a class="btn btn-dark justify-content-center" type="button" th:href="'/editPlaylist/' + ${playlist.id}" style="font-family: MuseoModerno">Edit Playlist</a>
                <form th:action="@{'/deletePlaylist/{id}' (id=${playlist.id})}" th:method="DELETE">
                    <button type="submit btn btn-dark justify-content-center" style="font-family: MuseoModerno" class="btn btn-dark justify-content-center">
                        Delete Playlist
                    </button>
                </form>
            </li>
        </ul>
    </div>


</div>
<script>
    async function checkSelected(selected) {
        var allDivs = document.getElementsByClassName('navDivs');

        for (var i = 0; i < allDivs.length; i++) {
            allDivs[i].setAttribute('style', 'display:none');
        }
        if (selected === 'Artists') {
            document.getElementById('artistsContainer').setAttribute('style', 'display:block');
        } else if (selected === 'Albums') {
            document.getElementById('albumsContainer').setAttribute('style', 'display:block');
        } else if (selected === 'Playlists') {
            document.getElementById('playlistContainer').setAttribute('style', 'display:block');
        }
    }
</script>
</body>
<footer th:replace="fragments/footer.html"/>
</html>