#background {
    position: relative;
    width: 1728px;
    height: 1117px;
    background: linear-gradient(112.68deg, #FF0084 0%, #B9FFCB 100%);
}
#container2{
    position: relative;
    width: 1728px;
    height: 50px;
    left: 0%;
    right: 0%;
    top: -10px;

    background: #FFFFFF;
}
#container{
    position: relative;
    width: 1728px;
    height: 1117px;

    background: linear-gradient(112.68deg, #EAA8C8 0%, #B9FFCB 100%);
}
#navbar{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    width: 1728px;
    bottom: 93.82%;

    background: #FFFFFF;
    border-radius: 87px;
}
