<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Username</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body id="BasicBackground"  style="background-color: black">
<header th:replace="fragments/navbar2.html"/>
<div d-flex justify-content-around bd-highlight>
    <div class="MainPage">
        <div id="UsernamePicture"></div>
        <h2 id="UsernameText">Username</h2>
        <h3 id="FollowersText">Followers, Following</h3>
        <div class="iconsProfilePage">
            <img th:src="@{/FacebookLogoBlue.png}" class="facebooklogoPage"/>
            <img th:src="@{/InstagramLogoBlue.png}" class="iconProfilePage"/>
        </div>
        <div class="TheUserNavbar">
            <div class="UserNavbar">Artists</div>
            <div class="UserNavbar">Albums</div>
            <div class="UserNavbar">PLaylists</div>
            <div class="UserNavbar">Matches</div>
        </div>
        <div class="UserTop5Artists">
            <div class="TopArtist"></div>
            <div class="TopArtist"></div>
            <div class="TopArtist"></div>
            <div class="TopArtist"></div>
            <div class="TopArtist"></div>
        </div>
        <div class="ArtistsName">
            <h2 class="NameArtist">Artist1</h2>
            <h2 class="NameArtist">Artist2</h2>
            <h2 class="NameArtist">Artist3</h2>
            <h2 class="NameArtist">Artist4</h2>
            <h2 class="NameArtist">Artist5</h2>
        </div>
    </div>
</div>
</body>
</html>